.site-footer.front-page__footer {

    transition: all 800ms ease-in;
    margin-top: 100vh; 
}

.site-footer {
    background-color: white;
    width: 100%;
    

    .footer-control-panel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .custom-logo {
            grid-column: 1;
            grid-row: 1;


        }

        .projects-navigation {
             grid-column: 1;
             grid-row: 2;

             #project-menu {
                display: flex;
                margin: 0;
                padding: 0;
                flex-wrap: wrap;
                list-style-type: none;

                .menu-item {
                    padding: 0 2em 0 2em;
                }
             }
        }

    }
}
