


.project-pages-video-cover {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 85vh;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
    filter: blur(5px);

        // For bigger screen sizes
        @media screen and (min-width: 1360px){
            height: auto;
        }

        @media screen and (max-height: 680px){
            height: 100vh;
        }
}



article.page {
    display: flex;
    width: 100%;

    @media screen and (max-width: 620px){
            flex-direction: column;
            height: auto;
        }

    .entry-header {
        display: flex;
        align-items: flex-start;
        width: 20vw;
        margin-top: 2em;
        margin-left: 2em;
        

        .project-page-title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 768px){
                display: none;
            }

            svg {
                width: auto;
                height: 77vh;

                g {
                    path {
                        stroke-width: 0.20;
                    }
                }
            }
        }
    
        .entry-title.visually-hidden{
            border: 0;
            clip: rect(1px, 1px, 1px, 1px);
            clip-path: inset(50%);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute !important;
            width: 1px;
            word-wrap: normal !important; 

        }

    }

    .entry-content {
        width: 80vw;
        height: auto;
        display: flex;
        justify-content: flex-end;
        padding-right: 100px;
        

        @media screen and (max-width: 620px){
            height: auto;
            padding: 0;
            margin: 0 auto;
            
        }

        .project-list {
            background-color: white;
            border: 1px solid;
            padding: 1% 2%;
            width: 75%;
            margin-left: 10%;


            @media screen and (max-width: 768px){
                width: 95%;
                margin-left: 0;
                
            }

        }

        .project-title {
            font-size: 0.75em;
            text-transform: uppercase;

        }
    }

}

