a {
	color: $color__link;
	font-family: $font__gunnar;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	@include customCursor;
	letter-spacing: 1px;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		
		
	}
	&:focus {
		outline: 0;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
